<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easy Remote</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
<!--    <script type="text/javascript" src="js/script.js"></script>-->
</head>

<body>
    <input type="button" value="power" onclick="postCommand(this.value)"></input>
    <input type="button" value="home" onclick="postCommand(this.value)"></input>
    <input type="button" value="up" onclick="postCommand(this.value)"></input>
    <input type="button" value="down" onclick="postCommand(this.value)"></input>
    <input type="button" value="left" onclick="postCommand(this.value)"></input>
    <input type="button" value="right" onclick="postCommand(this.value)"></input>
    <input type="button" value="play" onclick="postCommand(this.value)"></input>
    <input type="button" value="select" onclick="postCommand(this.value)"></input>
    <input type="button" value="mute" onclick="postCommand(this.value)"></input>
    <input type="button" value="volumeup" onclick="postCommand(this.value)"></input>
    <input type="button" value="volumedown" onclick="postCommand(this.value)"></input>

    <input type="search" id="app-search" placeholder="launch app">

    <script>
        function postCommand(value){
            console.log(value)
             $.ajax({
                  type:'post',
                  url: '{{url}}{{keypress}}'+value,
                  success: function(response) {
                    console.log(response)
                }
           });
        };

        $("input#app-search").click(function(value){
            console.log(value)});

        $('#app-search').keypress(function(value) {
            if (event.keyCode == 13) {
                console.log(value);
            }
        });

    </script>

</body>
</html>